<div class="col-sm-12">
	<div id="message-form-container">
		<h5>Post a message</h5>
		<form action='/messages/' class="form-horizontal" method="post">
			<div class="form-group">
					<textarea name="message[content]" class="form-control" rows="3"></textarea>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-9 col-sm-3">
			    	<button type="submit" class="btn btn-default">Post a message</button>
				</div>
			</div>
		</form>
	</div>
	<div id="messages-container">
		<ul>
			<li>
				<h4>Dexter Clark - June 14, 2014</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolore harum dignissimos ipsam quidem necessitatibus nihil aperiam veritatis veniam placeat temporibus facilis totam quasi cumque id beatae explicabo animi sapiente asperiores, enim natus laborum facere aspernatur repellendus? Ipsa quo sunt eveniet numquam facere illo laboriosam autem, consequuntur quam doloremque, impedit.</p>
				<ul class="comment-container">
					<li>
						<h4>Michael Choi - June 14, 2014</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolore harum dignissimos ipsam quidem necessitatibus nihil aperiam veritatis veniam placeat temporibus facilis totam quasi cumque id beatae explicabo animi sapiente asperiores, enim natus laborum facere aspernatur repellendus? Ipsa quo sunt eveniet numquam facere illo laboriosam autem, consequuntur quam doloremque, impedit.</p>
					</li>
					<div id="comment-form-container">
						<h5>Post a comment</h5>
						<form action='/comment/' class="form-horizontal" method="post">
							<div class="form-group">
									<textarea name="comment[content]" class="form-control" rows="3"></textarea>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-9 col-sm-3">
							    	<button type="submit" class="btn btn-default">Post a comment</button>
								</div>
							</div>
						</form>
					</div>
				</ul>
			</li>
			<li>
				<h4>Dexter Clark - June 14, 2014</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolore harum dignissimos ipsam quidem necessitatibus nihil aperiam veritatis veniam placeat temporibus facilis totam quasi cumque id beatae explicabo animi sapiente asperiores, enim natus laborum facere aspernatur repellendus? Ipsa quo sunt eveniet numquam facere illo laboriosam autem, consequuntur quam doloremque, impedit.</p>
				<ul class="comment-container">
					<div id="comment-form-container">
						<h5>Post a comment</h5>
						<form action='/comment/' class="form-horizontal" method="post">
							<div class="form-group">
									<textarea name="comment[content]" class="form-control" rows="3"></textarea>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-9 col-sm-3">
							    	<button type="submit" class="btn btn-default">Post a comment</button>
								</div>
							</div>
						</form>
					</div>
				</ul>
			</li>
		</ul>
	</div>
</div>