<!-- <div class="container">
	<div class="row"> -->
		<div class="col-sm-12">
			<div id="signup-container" class="col-sm-7">
				<h5>Register</h5>
				<form action='/signup' class="form-horizontal" method="post">
					<div class="form-group">
						<label for="first_name" class="col-sm-3 control-label">First Name</label>
						<div class="col-sm-9">
							<input type="text" name="signup[first_name]" class="form-control" placeholder="First Name">
						</div>
					</div>
					<div class="form-group">
						<label for="last_name" class="col-sm-3 control-label">Last Name</label>
						<div class="col-sm-9">
							<input type="text" name="signup[last_name]" class="form-control" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-3 control-label">Email</label>
						<div class="col-sm-9">
							<input type="email" name="signup[email]" class="form-control" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">Password</label>
						<div class="col-sm-9">
							<input type="password" name="signup[password]" class="form-control" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<label for="confirm_password" class="col-sm-3 control-label">Confirm Password</label>
						<div class="col-sm-9">
							<input type="confirm_password" name="signup[confirm_password]" class="form-control" placeholder="Confirm Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-10">
					    	<button type="submit" class="btn btn-default">Register</button>
						</div>
					</div>
				</form>
			</div>
			<div id="signin-container" class="col-sm-offset-1 col-sm-4">
				<h5>Log In</h5>
				<form action='/signin' class="form-horizontal" method="post">
					<div class="form-group">
						<label for="email" class="col-sm-3 control-label">Email</label>
						<div class="col-sm-9">
							<input type="email" name="signup[email]" class="form-control" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">Password</label>
						<div class="col-sm-9">
							<input type="password" name="signup[password]" class="form-control" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-10">
					    	<button type="submit" class="btn btn-default">Log in</button>
						</div>
					</div>
				</form>
			</div>
		</div>
<!-- 	</div>
</div> -->